.home-container {
background-color: #010102;
}

.intro-section {
  text-align: center;
  margin-bottom: 10rem;
  padding-top: 6rem;
  padding-bottom: 4rem;
  background-color: #010102;
  position: relative;
  overflow: hidden;
}

.intro-title {
  font-size: 3.5rem;
  font-weight: 800;
  margin-bottom: 1.25rem;
  color: white;
  animation: fadeInUp 0.6s ease forwards;
}

.intro-text {
  font-size: 1.25rem;
  max-width: 600px;
  margin: 0 auto;
  line-height: 1.6;
  color: #d1d5db;
  animation: fadeInUp 0.6s ease forwards;
  animation-delay: 0.2s;
}



@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
